#about{
    background-color: aqua;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;

}
#about h2{
    margin-bottom: 10px;

}
#about p{
    front font-size: 16px;
    line: height 1.5em;
}
#photos{
    text-align: center;

}
#photos ul{
    list-style: none;
    padding: 0%;

}
#photos img{
    max-width: 200px;
    height: auto;
    margin: 10px;
    border:1px seagreen
    border: radius 5px;
    
}
#photos img{
    transition: transform 0.2;
    /*Add transition for smooth hover effect */
}
#photos img:hover{
    transform:scale(1.05);/* enlarge image slightly on hover*/
}

#photos img{
    margin: 15px;
}
#photos img{
    /*...otherstyles...*/border:1px solid #ddd; /* use a more neutral border colour */  
}
#contact{
    background-color: aqua;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 20px;

}
#contact form{
    max-width: 400px;
    margin: auto;

}
contact label{
    display: block;
    margin-bottom: 5px;

}
#contact input,#contact textarea{
    width:100;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px salmon;
    border-radius: 3px;
}
#contact button{
    background-color: green;
    color:white;
    padding: 10px 20px;
    border-radius:3px;
    cursor: pointer;
}


