body{
    font-variant: normal;
    background-color: aqua;
    color: black;
    margin: 0%;
    padding: 0;}

    header{
        background-color: rgb(144, 155, 151);
        color: black;
        padding: 20px;
        text-align:center;
        }
        nav ul{
            list-style: none;
            padding: 1;
            display: flex;
            justify-content: center;
            gap: 10px;}
            

